Repository fuiz/website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-messages, find-unused-messages, find-untranslated, lint

.gitlab-ci.yml:

check-messages:
  image: node:lts-alpine
  script:
    - node scripts/check-messages.js
  rules:
    - changes:
        - messages/*.json

find-unused-messages:
  image: node:lts-alpine
  script:
    - node scripts/find-unused-messages.js
  rules:
    - changes:
        - messages/*.json
        - src/**/*.{svelte,ts,js}
        - scripts/find-unused-messages.js

find-untranslated:
  image: oven/bun:alpine
  script:
    - bun install --frozen-lockfile
    - bun scripts/find-untranslated.js
  rules:
    - changes:
        - messages/en.json
        - src/**/*.svelte
        - scripts/find-untranslated.js

lint:
  image: oven/bun:alpine
  script:
    - bun install --frozen-lockfile
    - bun run lint
  rules:
    - changes:
        - src/**/*.{svelte,ts,js}
        - bun.lock

bump deps
  bun.lock
  package.json
Due: lint

adjust options border width
  src/routes/[[lang]]/host/Options.svelte
Due: find-unused-messages, find-untranslated, lint

add kick player
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  src/lib/game/PlayersList.svelte
  src/routes/[[lang]]/host/Host.svelte
  src/routes/[[lang]]/host/Waiting.svelte
  src/routes/[[lang]]/play/index.ts
  src/routes/[[lang]]/play/messageHandler.ts
Due: check-messages, find-unused-messages, find-untranslated, lint

add show media button to statistics
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  src/lib/question-types/host/ExitFuiz.svelte
  src/lib/question-types/host/StatisticsLayout.svelte
  src/lib/question-types/host/Topbar.svelte
  src/lib/question-types/host/types.ts
  src/lib/question-types/mcq/host/Answers.svelte
  src/lib/question-types/mcq/host/Statistics.svelte
  src/lib/question-types/order/host/Answers.svelte
  src/lib/question-types/order/host/Statistics.svelte
  src/lib/question-types/type-answer/host/Statistics.svelte
  src/routes/[[lang]]/host/Host.svelte
  src/routes/[[lang]]/host/Leaderboard.svelte
  src/routes/[[lang]]/host/Question.svelte
  src/routes/[[lang]]/host/Waiting.svelte
  src/routes/[[lang]]/host/Winners.svelte
  src/routes/[[lang]]/host/index.ts
Due: check-messages, find-unused-messages, find-untranslated, lint

move topbar as well to similar place
  src/lib/question-types/mcq/player/Answers.svelte
  src/lib/question-types/order/player/Answers.svelte
  src/lib/question-types/player/Topbar.svelte
  src/lib/question-types/type-answer/player/Question.svelte
  src/routes/[[lang]]/play/ChooseTeammates.svelte
  src/routes/[[lang]]/play/FindTeam.svelte
  src/routes/[[lang]]/play/Leaderboard.svelte
  src/routes/[[lang]]/play/Question.svelte
  src/routes/[[lang]]/play/Result.svelte
  src/routes/[[lang]]/play/WaitingMobile.svelte
  src/routes/[[lang]]/play/WaitingOthers.svelte
  src/routes/[[lang]]/play/Winners.svelte
Due: find-unused-messages, find-untranslated, lint

factor out layouts
  src/lib/question-types/host/HostLayout.svelte
  src/lib/question-types/host/StatisticsLayout.svelte
  src/lib/question-types/mcq/host/Answers.svelte
  src/lib/question-types/order/host/Answers.svelte
  src/lib/question-types/player/PlayerLayout.svelte
  src/routes/[[lang]]/host/Leaderboard.svelte
  src/routes/[[lang]]/host/Question.svelte
  src/routes/[[lang]]/host/Winners.svelte
  src/routes/[[lang]]/play/ChooseTeammates.svelte
  src/routes/[[lang]]/play/FindTeam.svelte
  src/routes/[[lang]]/play/Leaderboard.svelte
  src/routes/[[lang]]/play/Question.svelte
  src/routes/[[lang]]/play/Result.svelte
  src/routes/[[lang]]/play/WaitingMobile.svelte
  src/routes/[[lang]]/play/WaitingOthers.svelte
  src/routes/[[lang]]/play/Winners.svelte
Due: find-unused-messages, find-untranslated, lint

factor out answer layout and question header
  src/lib/question-types/host/AnswersLayout.svelte
  src/lib/question-types/host/QuestionHeader.svelte
  src/lib/question-types/mcq/host/Answers.svelte
  src/lib/question-types/mcq/player/Answers.svelte
  src/lib/question-types/order/host/Answers.svelte
  src/lib/question-types/order/player/Answers.svelte
  src/lib/question-types/player/PlayerLayout.svelte
  src/lib/question-types/type-answer/player/Question.svelte
  src/routes/[[lang]]/host/Question.svelte
Due: find-unused-messages, find-untranslated, lint

factor out penguins
  src/lib/feedback/IllustratedMessage.svelte
  src/routes/[[lang]]/play/Result.svelte
  src/routes/[[lang]]/play/WaitingMobile.svelte
  src/routes/[[lang]]/play/WaitingOthers.svelte
  src/routes/[[lang]]/play/Winners.svelte
Due: find-unused-messages, find-untranslated, lint

adjust size of loading icon
  src/routes/[[lang]]/play/ChooseName.svelte
Due: find-unused-messages, find-untranslated, lint

updated privacy/tos
  src/routes/[[lang]]/privacy/+page.svelte
  src/routes/[[lang]]/terms/+page.svelte
Due: find-unused-messages, find-untranslated, lint

add partial message
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  src/lib/question-types/mcq/shared/correctness.ts
  src/routes/[[lang]]/play/Play.svelte
  src/routes/[[lang]]/play/Result.svelte
Due: check-messages, find-unused-messages, find-untranslated, lint

rework ui elements
  src/lib/layout/Footer.svelte
  src/lib/layout/NiceBackground.svelte
  src/lib/layout/TypicalPage.svelte
  src/lib/question-types/host/ExitFuiz.svelte
  src/lib/question-types/host/Topbar.svelte
  src/lib/ui/CreationsPicker.svelte
  src/routes/[[lang]]/+page.svelte
  src/routes/[[lang]]/host/Create.svelte
  src/routes/[[lang]]/library/Listing.svelte
  src/routes/[[lang]]/library/OnlinePublised.svelte
  src/routes/[[lang]]/publish/+page.svelte
Due: find-unused-messages, find-untranslated, lint

improve library look
  src/routes/[[lang]]/library/Listing.svelte
  src/routes/[[lang]]/library/OnlinePublised.svelte
Due: find-unused-messages, find-untranslated, lint

improve on library quiz showcase
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  src/lib/media/MediaDisplay.svelte
  src/lib/media/imageInfo.ts
  src/routes/[[lang]]/library/public/[id]/+page.svelte
Due: check-messages, find-unused-messages, find-untranslated, lint

improve host summary page ui
  messages/az.json
  messages/en.json
  messages/eu.json
  messages/id.json
  src/routes/[[lang]]/host/Summary.svelte
Due: check-messages, find-unused-messages, find-untranslated, lint

delete dead winners code
  src/routes/[[lang]]/host/Winners.svelte
Due: find-unused-messages, find-untranslated, lint

improve ui on options
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  src/lib/types.ts
  src/lib/ui/Radio.svelte
  src/lib/ui/Slider.svelte
  src/lib/ui/Stepper.svelte
  src/lib/ui/Switch.svelte
  src/routes/[[lang]]/host/Options.svelte
Due: check-messages, find-unused-messages, find-untranslated, lint

Refactor leaderboard and summary components for improved styling and functionality
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  scripts/find-untranslated.js
  src/lib/contentLanguages.ts
  src/lib/game/AnsweredCount.svelte
  src/lib/game/Statistics.svelte
  src/lib/game/TimeLeft.svelte
  src/lib/ui/Chip.svelte
  src/lib/ui/ContentLanguageSelect.svelte
  src/lib/ui/LanguageSwitcher.svelte
  src/lib/ui/PreviewCard.svelte
  src/lib/ui/SelectTrigger.svelte
  src/lib/ui/Stepper.svelte
  src/lib/ui/regular-checkbox.svelte
  src/routes/[[lang]]/host/Summary.svelte
  src/routes/[[lang]]/play/Leaderboard.svelte
  src/routes/[[lang]]/play/Summary.svelte
  src/routes/[[lang]]/publish/Grade.svelte
  src/routes/[[lang]]/publish/Publish.svelte
  src/routes/[[lang]]/publish/Subject.svelte
Due: check-messages, find-unused-messages, find-untranslated, lint

handle any language for publishing
  src/lib/contentLanguages.ts
  src/lib/db/base.ts
  src/lib/db/d1.ts
  src/lib/db/sqlite.ts
  src/lib/serverOnlyUtils.ts
  src/lib/types.ts
  src/routes/[[lang]]/library/+page.server.ts
  src/routes/[[lang]]/library/+page.svelte
  src/routes/[[lang]]/library/Listing.svelte
  src/routes/[[lang]]/library/search/+server.ts
Due: find-unused-messages, find-untranslated, lint

redesign publish flow
  src/lib/feedback/LoadingCircle.svelte
  src/routes/[[lang]]/publish/Publish.svelte
  src/routes/[[lang]]/publish/PublishForm.svelte
  src/routes/[[lang]]/publish/PublishLoginRequired.svelte
  src/routes/[[lang]]/publish/PublishProgress.svelte
  src/routes/[[lang]]/publish/PublishSubmitted.svelte
Due: find-unused-messages, find-untranslated, lint

add demo to ignored paths to fix find untranslated
  scripts/find-untranslated.js
Due: find-untranslated

use outline over hand rolled on surface
  src/lib/ui/ContentLanguageSelect.svelte
  src/lib/ui/LanguageSwitcher.svelte
  src/lib/ui/PreviewCard.svelte
  src/lib/ui/SelectTrigger.svelte
  src/lib/ui/Stepper.svelte
  src/lib/ui/Switch.svelte
  src/lib/ui/Textarea.svelte
  src/lib/ui/Textfield.svelte
  src/routes/+layout.svelte
  src/routes/[[lang]]/+page.svelte
  src/routes/[[lang]]/host/Options.svelte
  src/routes/[[lang]]/host/Summary.svelte
  src/routes/[[lang]]/library/Listing.svelte
  src/routes/[[lang]]/library/public/[id]/+page.svelte
  src/routes/[[lang]]/play/Leaderboard.svelte
  src/routes/[[lang]]/play/Summary.svelte
  src/routes/[[lang]]/publish/PublishProgress.svelte
Due: find-unused-messages, find-untranslated, lint

redesign publish page
  messages/az.json
  src/lib/contentLanguages.ts
  src/routes/[[lang]]/credits/+page.svelte
  src/routes/[[lang]]/host/index.ts
  tests/toml.test.ts
Due: check-messages, find-unused-messages, find-untranslated, lint

combine dialog design and popover
  src/lib/feedback/Modal.svelte
  src/lib/ui/ContentLanguageSelect.svelte
  src/lib/ui/LanguageSwitcher.svelte
  src/routes/+layout.svelte
  src/routes/[[lang]]/create/Sidebar.svelte
Due: find-unused-messages, find-untranslated, lint

delete unused key
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
Due: check-messages, find-unused-messages, find-untranslated

adjust topbar and gallery ui
  src/routes/[[lang]]/create/Gallery.svelte
  src/routes/[[lang]]/create/Topbar.svelte
Due: find-unused-messages, find-untranslated, lint

move things around
  src/lib/question-types/mcq/editor/OptionsBar.svelte
  src/lib/question-types/mcq/editor/Thumbnail.svelte
  src/lib/question-types/order/editor/OptionsBar.svelte
  src/lib/question-types/order/editor/Thumbnail.svelte
  src/lib/question-types/type-answer/editor/OptionsBar.svelte
  src/lib/question-types/type-answer/editor/Thumbnail.svelte
  src/routes/[[lang]]/create/Main.svelte
  src/routes/[[lang]]/create/Sidebar.svelte
  src/routes/[[lang]]/create/Thumbnail.svelte
Due: find-unused-messages, find-untranslated, lint

move slide editors
  src/lib/question-types/mcq/editor/SlideEditor.svelte
  src/lib/question-types/order/editor/SlideEditor.svelte
  src/lib/question-types/type-answer/editor/SlideEditor.svelte
Due: find-unused-messages, find-untranslated, lint

move similar components
  src/lib/media/MediaChooser.svelte
  src/lib/question-types/mcq/editor/Answer.svelte
  src/lib/question-types/mcq/editor/Answers.svelte
Due: find-unused-messages, find-untranslated, lint

update imports
  src/lib/question-types/mcq/editor/SlideEditor.svelte
  src/lib/question-types/order/editor/SlideEditor.svelte
  src/lib/question-types/type-answer/editor/SlideEditor.svelte
  src/routes/[[lang]]/create/SlideEditor.svelte
Due: find-unused-messages, find-untranslated, lint

migrate more to style blocks and fix overflow on mobile
  src/lib/media/MediaChooser.svelte
  src/lib/question-types/editor/SlideEditorLayout.svelte
  src/lib/question-types/editor/ThumbnailLayout.svelte
  src/lib/question-types/mcq/editor/Answer.svelte
  src/lib/question-types/mcq/editor/Answers.svelte
  src/lib/question-types/mcq/editor/OptionsBar.svelte
  src/lib/question-types/mcq/editor/SlideEditor.svelte
  src/lib/question-types/mcq/editor/Thumbnail.svelte
  src/lib/question-types/order/editor/OptionsBar.svelte
  src/lib/question-types/order/editor/SlideEditor.svelte
  src/lib/question-types/order/editor/Thumbnail.svelte
  src/lib/question-types/type-answer/editor/OptionsBar.svelte
  src/lib/question-types/type-answer/editor/SlideEditor.svelte
  src/lib/question-types/type-answer/editor/Thumbnail.svelte
  src/routes/[[lang]]/create/Sidebar.svelte
  src/routes/[[lang]]/create/SlideEditor.svelte
  src/routes/[[lang]]/create/Thumbnail.svelte
Due: find-unused-messages, find-untranslated, lint

improve options bar ui
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  src/lib/question-types/mcq/editor/OptionsBar.svelte
  src/lib/question-types/order/editor/OptionsBar.svelte
  src/lib/question-types/type-answer/editor/OptionsBar.svelte
  src/lib/ui/OptionsField.svelte
Due: check-messages, find-unused-messages, find-untranslated, lint

get rid of some remaining style directives in routes
  src/routes/[[lang]]/create/Editor.svelte
  src/routes/[[lang]]/create/GalleryCreation.svelte
  src/routes/[[lang]]/create/Main.svelte
  src/routes/[[lang]]/create/Topbar.svelte
  src/routes/[[lang]]/host/Options.svelte
  src/routes/[[lang]]/library/public/[id]/+page.svelte
Due: find-unused-messages, find-untranslated, lint

improve ui of media chooser
  src/lib/media/MediaChooser.svelte
  src/lib/question-types/editor/SlideEditorLayout.svelte
Due: find-unused-messages, find-untranslated, lint

rework thumbnail look
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  package.json
  src/lib/question-types/editor/ThumbnailLayout.svelte
  src/routes/[[lang]]/create/Sidebar.svelte
  src/routes/[[lang]]/create/Thumbnail.svelte
Due: check-messages, find-unused-messages, find-untranslated, lint

use getTitle and similar functions throughout
  src/lib/question-types/lint.ts
  src/lib/question-types/lintMessages.ts
  src/lib/question-types/mcq/editor/Thumbnail.svelte
  src/lib/question-types/mcq/preview/AnswersPreview.svelte
  src/lib/question-types/mcq/preview/CorrectAnswers.svelte
  src/lib/question-types/order/editor/Thumbnail.svelte
  src/lib/question-types/order/preview/AnswersPreview.svelte
  src/lib/question-types/order/preview/CorrectAnswers.svelte
  src/lib/question-types/preview/AnswersPreview.svelte
  src/lib/question-types/preview/CorrectAnswers.svelte
  src/lib/question-types/type-answer/editor/Thumbnail.svelte
  src/lib/question-types/type-answer/preview/AnswersPreview.svelte
  src/lib/question-types/type-answer/preview/CorrectAnswers.svelte
  src/routes/[[lang]]/create/Editor.svelte
  src/routes/[[lang]]/host/Summary.svelte
  src/routes/[[lang]]/library/public/[id]/+page.svelte
  src/routes/[[lang]]/play/Summary.svelte
  src/routes/api/library/publish-stream/+server.ts
Due: find-unused-messages, find-untranslated, lint

convert style directives to blocks
  src/lib/feedback/ErrorPage.svelte
  src/lib/feedback/IllustratedMessage.svelte
  src/lib/feedback/Loading.svelte
  src/lib/feedback/Message.svelte
  src/lib/game/EmptyAnswerButton.svelte
  src/lib/game/PlayersList.svelte
  src/lib/game/QRCode.svelte
  src/lib/game/TextAnswerButton.svelte
  src/lib/game/VerticalSplit.svelte
  src/lib/game/VerticalTripleSplit.svelte
  src/lib/layout/Header.svelte
  src/lib/media/Logo.svelte
  src/lib/media/MediaContainer.svelte
  src/lib/media/MediaDisplay.svelte
  src/lib/navigation/AnchorMessage.svelte
  src/lib/question-types/lint.ts
  src/lib/question-types/mcq/preview/AnswersPreview.svelte
  src/lib/question-types/type-answer/host/Statistics.svelte
  src/lib/ui/Checkbox.svelte
  src/lib/ui/FancyAnchorButton.svelte
  src/lib/ui/FancyAnchorButtonBase.svelte
  src/lib/ui/FancyButton.svelte
  src/lib/ui/FancyButtonBase.svelte
  src/lib/ui/IconButton.svelte
  src/lib/ui/PreviewCard.svelte
  src/lib/ui/SelectTime.svelte
  src/lib/ui/Textarea.svelte
  src/lib/ui/Textbox.svelte
  src/lib/ui/Textfield.svelte
  src/routes/[[lang]]/play/+page.svelte
  src/routes/[[lang]]/play/Join.svelte
Due: find-unused-messages, find-untranslated, lint

move button colors to CSS
  src/lib/clientOnly.ts
  src/lib/feedback/ConfirmationDialog.svelte
  src/lib/game/EmptyAnswerButton.svelte
  src/lib/game/Statistics.svelte
  src/lib/game/TextAnswerButton.svelte
  src/lib/media/MediaChooser.svelte
  src/lib/question-types/mcq/editor/Answer.svelte
  src/lib/question-types/mcq/editor/Answers.svelte
  src/lib/question-types/mcq/editor/Thumbnail.svelte
  src/lib/question-types/mcq/preview/AnswersPreview.svelte
  src/lib/question-types/order/editor/SlideEditor.svelte
  src/lib/question-types/order/editor/Thumbnail.svelte
  src/lib/question-types/order/preview/AnswersPreview.svelte
  src/lib/question-types/type-answer/editor/Thumbnail.svelte
  src/lib/question-types/type-answer/host/Statistics.svelte
  src/lib/ui/Checkbox.svelte
  src/lib/ui/FancyAnchorButton.svelte
  src/lib/ui/FancyAnchorButtonBase.svelte
  src/lib/ui/FancyButton.svelte
  src/lib/ui/FancyButtonBase.svelte
  src/routes/+layout.svelte
  src/routes/[[lang]]/+page.svelte
  src/routes/[[lang]]/library/public/[id]/+page.svelte
  src/routes/[[lang]]/publish/PublishLoginRequired.svelte
  src/routes/[[lang]]/publish/PublishSubmitted.svelte
Due: find-unused-messages, find-untranslated, lint

implement stateful next and slide announcement
  src/lib/question-types/announcement/AnnouncementContent.svelte
  src/lib/question-types/announcement/AnnouncementHero.svelte
  src/lib/question-types/announcement/PointsBadge.svelte
  src/lib/question-types/announcement/scenes/Spotlight.svelte
  src/lib/question-types/host/StatisticsLayout.svelte
  src/lib/question-types/host/Topbar.svelte
  src/lib/question-types/host/types.ts
  src/lib/question-types/mcq/shared/AnnouncementHero.svelte
  src/lib/question-types/order/shared/AnnouncementHero.svelte
  src/lib/question-types/type-answer/shared/AnnouncementHero.svelte
  src/lib/types.ts
  src/routes/[[lang]]/host/Host.svelte
  src/routes/[[lang]]/host/Leaderboard.svelte
  src/routes/[[lang]]/host/SlideAnnouncement.svelte
  src/routes/[[lang]]/host/Waiting.svelte
  src/routes/[[lang]]/host/index.ts
  src/routes/[[lang]]/host/messageHandler.ts
  src/routes/[[lang]]/play/Play.svelte
  src/routes/[[lang]]/play/SlideAnnouncement.svelte
  src/routes/[[lang]]/play/index.ts
  src/routes/[[lang]]/play/messageHandler.ts
Due: find-unused-messages, find-untranslated, lint

get rid of penguins for now
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  src/lib/assets/visuals/answered_penguin.svg
  src/lib/assets/visuals/correct_penguin.svg
  src/lib/assets/visuals/waiting.svg
  src/lib/assets/visuals/wrong_penguin.svg
  src/lib/feedback/FeedbackSign.svelte
  src/lib/feedback/IllustratedMessage.svelte
  src/routes/[[lang]]/play/Result.svelte
  src/routes/[[lang]]/play/WaitingMobile.svelte
  src/routes/[[lang]]/play/WaitingOthers.svelte
  src/routes/[[lang]]/play/Winners.svelte
Due: check-messages, find-unused-messages, find-untranslated, lint
