Repository fuiz/website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-messages, find-unused-messages, find-untranslated, lint

check-messages:
  image: node:lts-alpine
  script:
  - node scripts/check-messages.js

find-unused-messages:
  image: node:lts-alpine
  script:
  - node scripts/find-unused-messages.js

find-untranslated:
  image: oven/bun:alpine
  script:
  - bun install --frozen-lockfile
  - bun scripts/find-untranslated.js

lint:
  image: oven/bun:alpine
  script:
  - bun install --frozen-lockfile
  - bun run lint

improve chip theme and padding
  src/lib/ui/Chip.svelte
Due: find-unused-messages, find-untranslated, lint

add animated ui for splash screen
  src/lib/animation/flyAway.ts
  src/lib/question-types/announcement/scenes/Spotlight.svelte
  src/lib/question-types/mcq/shared/AnnouncementHero.svelte
  src/lib/question-types/order/shared/AnnouncementHero.svelte
  src/lib/question-types/type-answer/shared/AnnouncementHero.svelte
  src/lib/ui/Chip.svelte
  src/routes/[[lang]]/host/Question.svelte
  src/routes/[[lang]]/host/SlideAnnouncement.svelte
  src/routes/[[lang]]/play/Question.svelte
  src/routes/[[lang]]/play/SlideAnnouncement.svelte
Due: find-unused-messages, find-untranslated, lint

change slide sizing on main page
  src/lib/game/TextBar.svelte
  src/routes/[[lang]]/+page.svelte
Due: find-unused-messages, find-untranslated, lint

handle locked and maximum players
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  src/routes/[[lang]]/play/index.ts
  src/routes/[[lang]]/play/messageHandler.ts
Due: check-messages, find-unused-messages, find-untranslated, lint

handle AnswerMode from backend
  src/routes/[[lang]]/play/index.ts
  src/routes/[[lang]]/play/messageHandler.ts
Due: find-unused-messages, lint

add subtext
  src/lib/question-types/announcement/AnnouncementContent.svelte
  src/lib/question-types/announcement/scenes/Spotlight.svelte
  src/routes/[[lang]]/play/Play.svelte
  src/routes/[[lang]]/play/SlideAnnouncement.svelte
Due: find-unused-messages, find-untranslated, lint

improve multi select player ui
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  src/lib/game/Answers.svelte
  src/lib/game/EmptyAnswerButton.svelte
  src/lib/game/EmptyAnswers.svelte
  src/lib/game/TextAnswerButton.svelte
  src/lib/question-types/mcq/player/Answers.svelte
  src/lib/question-types/mcq/player/MultiSelectAnswers.svelte
  src/lib/ui/Switch.svelte
Due: check-messages, find-unused-messages, find-untranslated, lint

redesign community sectio
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  src/lib/clientOnly.ts
  src/lib/layout/MainHeader.svelte
  src/routes/+layout.svelte
  src/routes/[[lang]]/+page.svelte
Due: check-messages, find-unused-messages, find-untranslated, lint

update deps
  bun.lock
  package.json
Due: lint

update bun
  wrangler.toml
Due: none

update compat date
  wrangler.toml
Due: none

make partial correctness screen more informative
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  src/lib/feedback/MultipleAnswersResult.svelte
  src/lib/question-types/mcq/shared/correctness.ts
  src/routes/[[lang]]/play/Play.svelte
  src/routes/[[lang]]/play/Result.svelte
Due: check-messages, find-unused-messages, find-untranslated, lint

add unlimited time option
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  src/routes/[[lang]]/host/Options.svelte
Due: check-messages, find-unused-messages, find-untranslated, lint

fix submission file name
  bun.lock
  src/routes/api/library/publish-stream/+server.ts
Due: find-unused-messages, lint

[i18n] de: change Optionene to Optionen
  messages/de.json
Due: check-messages, find-unused-messages

make sure image files are unique
  src/routes/api/library/publish-stream/+server.ts
Due: find-unused-messages, lint

animate dialogs a bit
  src/lib/feedback/Modal.svelte
  src/lib/game/VerticalTripleSplit.svelte
  src/lib/git/types.ts
  src/lib/navigation/AnchorMessage.svelte
  src/lib/ui/SelectTime.svelte
  src/routes/api/git/gitUtil.ts
Due: find-unused-messages, find-untranslated, lint

update deps
  bun.lock
  package.json
  src/routes/sitemap.xml/+server.ts
Due: find-unused-messages, lint

check lint messages at start and publish
  src/routes/[[lang]]/publish/Publish.svelte
  src/routes/[[lang]]/quiz/[id]/host/Options.svelte
Due: find-unused-messages, find-untranslated, lint

cut down on truncation
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  src/lib/question-types/host/Topbar.svelte
  src/lib/question-types/host/types.ts
  src/lib/reports.ts
  src/lib/storage/index.ts
  src/lib/types.ts
  src/lib/ui/ReportBody.svelte
  src/lib/ui/SectionLabel.svelte
  src/routes/[[lang]]/create/Sidebar.svelte
  src/routes/[[lang]]/host/Host.svelte
  src/routes/[[lang]]/host/Leaderboard.svelte
  src/routes/[[lang]]/host/Summary.svelte
  src/routes/[[lang]]/host/Waiting.svelte
  src/routes/[[lang]]/host/index.ts
  src/routes/[[lang]]/host/messageHandler.ts
  src/routes/[[lang]]/play/Summary.svelte
  src/routes/[[lang]]/play/index.ts
  src/routes/[[lang]]/play/messageHandler.ts
  src/routes/[[lang]]/quiz/[id]/+page.svelte
  src/routes/[[lang]]/quiz/[id]/host/Options.svelte
  src/routes/[[lang]]/reports/[id]/+page.svelte
  tests/reports.test.ts
Due: check-messages, find-unused-messages, find-untranslated, lint

clean up comments
  GITLAB_PUBLISHING_SETUP.md
  src/lib/clientOnly.ts
  src/lib/game/PinBoard.svelte
  src/lib/game/ResponseList.svelte
  src/lib/game/ScalePicker.svelte
  src/lib/game/SliderTrack.svelte
  src/lib/game/WordCloud.svelte
  src/lib/longPress.ts
  src/lib/question-types/announcement/AnnouncementContent.svelte
  src/lib/question-types/host/Topbar.svelte
  src/lib/question-types/host/types.ts
  src/lib/question-types/lint.ts
  src/lib/question-types/mcq/shared/AnnouncementHero.svelte
  src/lib/question-types/pin/editor/SlideEditor.svelte
  src/lib/question-types/pin/shared/AnnouncementHero.svelte
  src/lib/question-types/pin/shared/correctness.ts
  src/lib/question-types/poll/shared/AnnouncementHero.svelte
  src/lib/question-types/scale/editor/OptionsBar.svelte
  src/lib/reports.ts
  src/lib/scripts/imageHandler.ts
  src/lib/storage/index.ts
  src/lib/types.ts
  src/lib/ui/ReportBody.svelte
  src/lib/ui/ResultsGrid.svelte
  src/routes/[[lang]]/+page.svelte
  src/routes/[[lang]]/create/Gallery.svelte
  src/routes/[[lang]]/create/GalleryCreation.svelte
  src/routes/[[lang]]/create/Sidebar.svelte
  src/routes/[[lang]]/create/slideTemplates.ts
  src/routes/[[lang]]/host/+page.ts
  src/routes/[[lang]]/host/Question.svelte
  src/routes/[[lang]]/host/SlideAnnouncement.svelte
  src/routes/[[lang]]/host/Summary.svelte
  src/routes/[[lang]]/host/index.ts
  tests/messageDispatch.test.ts
  tests/slideTemplates.test.ts
Due: find-unused-messages, find-untranslated, lint

use two-state dark mode switching
  src/lib/question-types/player/Topbar.svelte
  src/lib/ui/DarkModeSwitcher.svelte
  src/lib/ui/theme.svelte.ts
Due: find-unused-messages, find-untranslated, lint

load media from all sync messages
  src/routes/[[lang]]/play/index.ts
  src/routes/[[lang]]/play/messageHandler.ts
Due: find-unused-messages, lint

add UI for team members view
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  src/lib/game/TeamsList.svelte
  src/lib/question-types/host/TeamRosters.svelte
  src/lib/question-types/host/Topbar.svelte
  src/lib/question-types/host/types.ts
  src/routes/[[lang]]/host/Host.svelte
  src/routes/[[lang]]/host/Waiting.svelte
  src/routes/[[lang]]/host/index.ts
  src/routes/[[lang]]/host/messageHandler.ts
Due: check-messages, find-unused-messages, find-untranslated, lint

fix keyword generation
  src/lib/ai/cloudflare.ts
Due: find-unused-messages, lint

add canonicalize to fix migration issues and fix poll answer type
  src/lib/canonicalize.ts
  src/lib/clientOnly.ts
  src/lib/limits.ts
  src/lib/question-types/brainstorm/editor/SlideEditor.svelte
  src/lib/question-types/free-text/editor/SlideEditor.svelte
  src/lib/question-types/info-slide/editor/SlideEditor.svelte
  src/lib/question-types/mcq/editor/SlideEditor.svelte
  src/lib/question-types/order/editor/SlideEditor.svelte
  src/lib/question-types/pin/editor/SlideEditor.svelte
  src/lib/question-types/poll/editor/SlideEditor.svelte
  src/lib/question-types/poll/preview/AnswersPreview.svelte
  src/lib/question-types/scale/editor/SlideEditor.svelte
  src/lib/question-types/slider/editor/SlideEditor.svelte
  src/lib/question-types/type-answer/editor/SlideEditor.svelte
  src/lib/storage/index.ts
  src/lib/types.ts
  src/routes/[[lang]]/create/Editor.svelte
  src/routes/[[lang]]/create/Gallery.svelte
Due: find-unused-messages, find-untranslated, lint

fix tests
  tests/slideTemplates.test.ts
Due: none

introduce card abstraction and move away from 1px solid border for cards
  src/lib/feedback/Modal.svelte
  src/lib/question-types/editor/OptionsBarLayout.svelte
  src/lib/ui/Card.svelte
  src/lib/ui/CreationsPicker.svelte
  src/lib/ui/OptionsField.svelte
  src/lib/ui/PreviewCard.svelte
  src/lib/ui/ReportCard.svelte
  src/routes/+layout.svelte
  src/routes/[[lang]]/+page.svelte
  src/routes/[[lang]]/create/GalleryCreation.svelte
  src/routes/[[lang]]/create/Sidebar.svelte
  src/routes/[[lang]]/create/Thumbnail.svelte
  src/routes/[[lang]]/create/Topbar.svelte
  src/routes/[[lang]]/credits/+page.svelte
  src/routes/[[lang]]/host/Summary.svelte
  src/routes/[[lang]]/library/Listing.svelte
  src/routes/[[lang]]/library/OnlinePublised.svelte
  src/routes/[[lang]]/library/public/[id]/+page.svelte
  src/routes/[[lang]]/play/Leaderboard.svelte
  src/routes/[[lang]]/play/Summary.svelte
  src/routes/[[lang]]/quiz/[id]/+page.svelte
  src/routes/[[lang]]/quiz/[id]/host/Options.svelte
  src/routes/[[lang]]/reports/+page.svelte
Due: find-unused-messages, find-untranslated, lint

switch homepage to card
  src/routes/[[lang]]/+page.svelte
Due: find-unused-messages, find-untranslated, lint

redesign popovers to match no pixel border
  src/lib/ui/ContentLanguageSelect.svelte
  src/lib/ui/LanguageSwitcher.svelte
  src/lib/ui/OverflowMenu.svelte
  src/routes/+layout.svelte
Due: find-unused-messages, find-untranslated, lint

remove divider
  src/routes/[[lang]]/quiz/[id]/+page.svelte
Due: find-unused-messages, find-untranslated, lint

remove footer border
  src/lib/layout/Footer.svelte
Due: find-unused-messages, find-untranslated, lint

add danger and selected colors
  src/lib/game/PlayersList.svelte
  src/lib/question-types/brainstorm/player/Voting.svelte
  src/lib/ui/ContentLanguageSelect.svelte
  src/lib/ui/LanguageSwitcher.svelte
  src/lib/ui/OptionsField.svelte
  src/lib/ui/OverflowMenu.svelte
  src/routes/+layout.svelte
Due: find-unused-messages, find-untranslated, lint

switch surfaces for containers
  src/lib/game/LeaderboardRecord.svelte
  src/lib/game/PlayersList.svelte
  src/lib/game/ScalePicker.svelte
  src/lib/game/TeamsList.svelte
  src/lib/media/MediaChooser.svelte
  src/lib/question-types/announcement/PointsBadge.svelte
  src/lib/question-types/brainstorm/player/Voting.svelte
  src/lib/question-types/info-slide/editor/SlideEditor.svelte
  src/lib/question-types/info-slide/shared/AnnouncementHero.svelte
  src/lib/question-types/pin/shared/AnnouncementHero.svelte
  src/lib/question-types/slider/shared/AnnouncementHero.svelte
  src/lib/question-types/type-answer/shared/AnnouncementHero.svelte
  src/lib/ui/ReportBody.svelte
  src/lib/ui/Switch.svelte
  src/routes/[[lang]]/host/Summary.svelte
  src/routes/[[lang]]/host/Waiting.svelte
  src/routes/[[lang]]/library/OnlinePublised.svelte
  src/routes/[[lang]]/play/ChooseTeammates.svelte
  src/routes/[[lang]]/quiz/[id]/+page.svelte
Due: find-unused-messages, find-untranslated, lint

add hover and pressed state
  src/lib/ui/Card.svelte
  src/lib/ui/Chip.svelte
  src/lib/ui/ContentLanguageSelect.svelte
  src/lib/ui/LanguageSwitcher.svelte
  src/lib/ui/OptionsField.svelte
  src/lib/ui/OverflowMenu.svelte
  src/lib/ui/SelectTrigger.svelte
  src/routes/+layout.svelte
  src/routes/[[lang]]/create/GalleryCreation.svelte
  src/routes/[[lang]]/library/Listing.svelte
Due: find-unused-messages, find-untranslated, lint

add border radius to main editor view
  src/routes/[[lang]]/create/Main.svelte
Due: find-unused-messages, find-untranslated, lint

remove border and adjust colors in player summary
  src/routes/[[lang]]/play/Summary.svelte
Due: find-unused-messages, find-untranslated, lint

redesign a couple of pills
  src/lib/question-types/host/TeamRosters.svelte
  src/lib/question-types/host/Topbar.svelte
  src/lib/question-types/scale/preview/AnswersPreview.svelte
  src/routes/[[lang]]/host/Summary.svelte
Due: find-unused-messages, find-untranslated, lint

Path conditions:
  check-messages: any of: messages/*.json
  find-unused-messages: any of: messages/*.json, src/**/*.{svelte,ts,js}, scripts/find-unused-messages.js
  find-untranslated: any of: messages/en.json, src/**/*.svelte, scripts/find-untranslated.js
  lint: any of: src/**/*.{svelte,ts,js}, bun.lock
