Repository fuiz/website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-messages, find-unused-messages, find-untranslated, lint

check-messages:
  image: node:lts-alpine
  script:
  - node scripts/check-messages.js

find-unused-messages:
  image: node:lts-alpine
  script:
  - node scripts/find-unused-messages.js

find-untranslated:
  image: oven/bun:alpine
  script:
  - bun install --frozen-lockfile
  - bun scripts/find-untranslated.js

lint:
  image: oven/bun:alpine
  script:
  - bun install --frozen-lockfile
  - bun run lint

add build step
  .gitlab-ci.yml
Due: none

support teacher pace
  src/lib/clientOnly.ts
  src/lib/toml.ts
  src/lib/types.ts
  src/lib/ui/SelectTime.svelte
  src/routes/[[lang]]/+page.svelte
  src/routes/[[lang]]/create/MultipleChoiceOptionsBar.svelte
  src/routes/[[lang]]/create/MultipleChoiceSlideEditor.svelte
  src/routes/[[lang]]/create/OrderOptionsBar.svelte
  src/routes/[[lang]]/create/OrderSlideEditor.svelte
  src/routes/[[lang]]/create/TypeAnswerOptionsBar.svelte
  src/routes/[[lang]]/create/TypeAnswerSlideEditor.svelte
  src/routes/[[lang]]/host/Host.svelte
  src/routes/[[lang]]/host/OrderAnswers.svelte
  src/routes/[[lang]]/host/Question.svelte
  src/routes/[[lang]]/host/QuestionAnswers.svelte
  src/routes/[[lang]]/host/index.ts
  src/routes/[[lang]]/host/messageHandler.ts
  src/routes/[[lang]]/play/index.ts
Due: find-unused-messages, find-untranslated, lint

add fields to wrangler
  wrangler.toml
Due: none

add tests and better format toml
  .gitlab-ci.yml
  bun.lock
  package.json
  src/lib/index.ts
  tests/toml.test.ts
Due: find-unused-messages, lint

add database generic bindings
  bun.lock
  package.json
  src/app.d.ts
  src/hooks.server.ts
  src/lib/db/base.ts
  src/lib/db/d1.ts
  src/lib/db/factory.ts
  src/lib/db/index.ts
  src/lib/db/search.ts
  src/lib/db/sqlite.ts
  src/lib/scripts/syncLibrary.ts
  src/routes/[[lang]]/+layout.server.ts
  src/routes/[[lang]]/library/+page.server.ts
  src/routes/[[lang]]/library/public/[id]/+page.server.ts
  src/routes/[[lang]]/library/search/+server.ts
  src/routes/api/library/git-webhook/+server.ts
  src/routes/api/library/manual-sync/+server.ts
  svelte.config.js
Due: find-unused-messages, lint

update lock file
  bun.lock
Due: lint

add blob storage
  src/app.d.ts
  src/hooks.server.ts
  src/lib/blob/base.ts
  src/lib/blob/factory.ts
  src/lib/blob/filesystem.ts
  src/lib/blob/r2.ts
  src/lib/scripts/syncLibrary.ts
  src/routes/[[lang]]/+layout.server.ts
  src/routes/[[lang]]/library/public/[id]/+page.server.ts
  src/routes/api/library/git-webhook/+server.ts
  src/routes/api/library/manual-sync/+server.ts
Due: find-unused-messages, lint

add kv
  src/app.d.ts
  src/hooks.server.ts
  src/lib/kv/base.ts
  src/lib/kv/cloudflare.ts
  src/lib/kv/factory.ts
  src/lib/kv/sqlite.ts
  src/routes/[[lang]]/+layout.server.ts
  src/routes/[[lang]]/share/+server.ts
  src/routes/[[lang]]/share/[id]/+page.server.ts
  src/routes/api/library/publish-init/+server.ts
  src/routes/api/library/publish-stream/+server.ts
Due: find-unused-messages, lint

fix cloudflare ai api
  src/routes/api/library/publish-stream/+server.ts
Due: find-unused-messages, lint

make ai generic as well
  src/app.d.ts
  src/hooks.server.ts
  src/lib/ai/base.ts
  src/lib/ai/cloudflare.ts
  src/lib/ai/factory.ts
  src/lib/ai/openai.ts
  src/routes/api/library/publish-stream/+server.ts
Due: find-unused-messages, lint

use bun for now
  bun.lock
  package.json
  src/lib/db/sqlite.ts
  src/lib/kv/sqlite.ts
Due: find-unused-messages, lint

add stubs for bun sqlite to build on cloudflare workers
  src/lib/stubs/bun-sqlite.ts
  wrangler.toml
Due: find-unused-messages, lint

update readme
  README.md
Due: none

update broken link
  src/lib/clientOnly.ts
Due: find-unused-messages, lint

upgrade to TS6
  bun.lock
  package.json
  src/uint8array.d.ts
Due: find-unused-messages, lint

add selfhosted flag
  src/lib/layout/MainHeader.svelte
  src/routes/[[lang]]/+layout.server.ts
  src/routes/[[lang]]/+page.svelte
  src/routes/[[lang]]/privacy/+page.svelte
Due: find-unused-messages, find-untranslated, lint

rework landing page
  .gitignore
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  src/lib/layout/Footer.svelte
  src/lib/layout/Header.svelte
  src/lib/layout/MainHeader.svelte
  src/lib/navigation/Anchor.svelte
  src/lib/ui/DarkModeSwitcher.svelte
  src/lib/ui/LanguageSwitcher.svelte
  src/lib/ui/StatedIconButton.svelte
  src/routes/+layout.svelte
  src/routes/[[lang]]/+page.svelte
  src/routes/[[lang]]/privacy/+page.svelte
  src/routes/[[lang]]/terms/+page.svelte
Due: check-messages, find-unused-messages, find-untranslated, lint

improve styling of leadedrboard page
  src/lib/clientOnly.ts
  src/lib/game/AnsweredCount.svelte
  src/lib/game/LeaderboardRecord.svelte
  src/lib/game/TextBar.svelte
  src/lib/layout/Footer.svelte
  src/lib/layout/Fullscreen.svelte
  src/lib/layout/MainHeader.svelte
  src/lib/ui/LanguageSwitcher.svelte
  src/routes/[[lang]]/demo/+page.svelte
  src/routes/[[lang]]/host/Leaderboard.svelte
  src/routes/[[lang]]/host/Topbar.svelte
  src/routes/[[lang]]/host/Waiting.svelte
Due: find-unused-messages, find-untranslated, lint

gitignore demo page
  .gitignore
  src/routes/[[lang]]/demo/+page.svelte
Due: find-unused-messages, find-untranslated, lint

update waiting page
  src/lib/game/PlayersList.svelte
  src/routes/[[lang]]/demo/+page.svelte
  src/routes/[[lang]]/host/Waiting.svelte
Due: find-unused-messages, find-untranslated, lint

delete demo again?
  src/routes/[[lang]]/demo/+page.svelte
Due: find-unused-messages, find-untranslated, lint

git ignore didn't get it the first time
  .gitignore
Due: none

change sebastian link
  src/routes/[[lang]]/credits/+page.svelte
Due: find-unused-messages, find-untranslated, lint

update translations
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  scripts/find-untranslated.js
Due: check-messages, find-unused-messages, find-untranslated

fix link issues
  bun.lock
  package.json
  src/bun.d.ts
  src/fontsource.d.ts
  src/lib/db/search.ts
  src/lib/layout/Footer.svelte
  src/lib/layout/NiceBackground.svelte
  src/lib/navigation/Anchor.svelte
  src/lib/navigation/AnchorMessage.svelte
  src/lib/navigation/resolveIfInternal.ts
  src/routes/[[lang]]/host/Leaderboard.svelte
Due: find-unused-messages, find-untranslated, lint

fix main page logo
  src/lib/assets/same_color_logo_padded.svg
  src/routes/[[lang]]/+page.svelte
Due: find-unused-messages, find-untranslated, lint

update packages once again
  bun.lock
  package.json
  src/bun.d.ts
  worker-configuration.d.ts
Due: find-unused-messages, lint

update lots of UI elements on hosting
  src/lib/game/Answers.svelte
  src/lib/game/Statistics.svelte
  src/lib/game/TextBar.svelte
  src/lib/game/TimeLeft.svelte
  src/lib/layout/NiceBackground.svelte
  src/lib/question-types/mcq/host/QuestionAnswers.svelte
  src/lib/question-types/mcq/host/QuestionStatistics.svelte
  src/lib/question-types/mcq/player/Answers.svelte
  src/lib/question-types/order/host/OrderAnswers.svelte
  src/lib/question-types/order/host/OrderStatistics.svelte
  src/lib/question-types/order/player/OrderAnswers.svelte
  src/lib/question-types/type-answer/host/TypeAnswerStatistics.svelte
  src/lib/question-types/type-answer/player/TypeAnswerQuestion.svelte
  src/routes/[[lang]]/+page.svelte
  src/routes/[[lang]]/host/Host.svelte
  src/routes/[[lang]]/host/Leaderboard.svelte
  src/routes/[[lang]]/host/OrderAnswers.svelte
  src/routes/[[lang]]/host/OrderStatistics.svelte
  src/routes/[[lang]]/host/Question.svelte
  src/routes/[[lang]]/host/QuestionAnswers.svelte
  src/routes/[[lang]]/host/QuestionStatistics.svelte
  src/routes/[[lang]]/host/Topbar.svelte
  src/routes/[[lang]]/host/TypeAnswerStatistics.svelte
  src/routes/[[lang]]/host/Winners.svelte
  src/routes/[[lang]]/play/Play.svelte
  src/routes/[[lang]]/play/Question.svelte
Due: find-unused-messages, find-untranslated, lint

rename question components
  src/lib/question-types/mcq/host/Answers.svelte
  src/lib/question-types/mcq/host/Statistics.svelte
  src/lib/question-types/order/host/Answers.svelte
  src/lib/question-types/order/host/Statistics.svelte
  src/lib/question-types/order/player/Answers.svelte
  src/lib/question-types/type-answer/host/Statistics.svelte
  src/lib/question-types/type-answer/player/Question.svelte
Due: find-unused-messages, find-untranslated, lint

change imports
  src/routes/[[lang]]/+page.svelte
  src/routes/[[lang]]/host/Host.svelte
  src/routes/[[lang]]/play/Play.svelte
Due: find-unused-messages, find-untranslated, lint

update play ui
  bun.lock
  package.json
  src/lib/feedback/Message.svelte
  src/lib/game/Answers.svelte
  src/lib/game/EmptyAnswerButton.svelte
  src/lib/game/EmptyAnswers.svelte
  src/lib/question-types/mcq/player/Answers.svelte
  src/lib/question-types/order/player/Answers.svelte
  src/lib/question-types/type-answer/player/Question.svelte
  src/lib/ui/Textfield.svelte
  src/routes/[[lang]]/play/ChooseName.svelte
  src/routes/[[lang]]/play/FindTeam.svelte
  src/routes/[[lang]]/play/Question.svelte
  vite.config.ts
Due: find-unused-messages, find-untranslated, lint

make various improvements to play UI
  src/lib/feedback/ConfirmationDialog.svelte
  src/lib/feedback/Modal.svelte
  src/lib/game/Answers.svelte
  src/lib/game/TextAnswerButton.svelte
  src/lib/question-types/mcq/player/Answers.svelte
  src/lib/question-types/order/player/Answers.svelte
  src/lib/ui/DarkModeSwitcher.svelte
  src/routes/[[lang]]/+page.svelte
  src/routes/[[lang]]/library/Listing.svelte
  src/routes/[[lang]]/play/ChooseTeammates.svelte
  src/routes/[[lang]]/play/FindTeam.svelte
  src/routes/[[lang]]/play/Play.svelte
  src/routes/[[lang]]/play/Topbar.svelte
  src/routes/[[lang]]/play/WaitingMobile.svelte
  src/routes/[[lang]]/publish/Publish.svelte
Due: find-unused-messages, find-untranslated, lint

cleanups
  bun.lock
  package.json
  src/lib/layout/Fullscreen.svelte
  src/lib/question-types/mcq/host/Statistics.svelte
  src/lib/question-types/type-answer/host/Statistics.svelte
  src/lib/types.ts
  src/lib/ui/Checkbox.svelte
  src/lib/ui/DarkModeSwitcher.svelte
  src/lib/ui/FancyButton.svelte
  src/lib/ui/FancyButtonBase.svelte
  src/lib/ui/IconButton.svelte
  src/lib/ui/Switch.svelte
  src/lib/ui/Textarea.svelte
  src/lib/ui/Textbox.svelte
  src/lib/ui/Textfield.svelte
  src/routes/[[lang]]/host/ExitFuiz.svelte
  src/routes/[[lang]]/host/Question.svelte
  src/routes/[[lang]]/host/Topbar.svelte
  src/routes/[[lang]]/play/Topbar.svelte
  worker-configuration.d.ts
Due: find-unused-messages, find-untranslated, lint

add helper method for refactoring this logic
  src/lib/question-types/mcq/shared/correctness.ts
  src/routes/[[lang]]/play/Play.svelte
Due: find-unused-messages, find-untranslated, lint

revamp the look of the create page
  src/lib/media/MediaFallback.svelte
  src/routes/[[lang]]/create/Gallery.svelte
  src/routes/[[lang]]/create/GalleryCreation.svelte
Due: find-unused-messages, find-untranslated, lint

add better syncing to make create page better
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  src/lib/storage/index.ts
  src/routes/[[lang]]/create/+page.svelte
  src/routes/[[lang]]/create/Gallery.svelte
Due: check-messages, find-unused-messages, find-untranslated, lint

handle PlayerJoined and PlayerLeft
  src/routes/[[lang]]/host/index.ts
  src/routes/[[lang]]/host/messageHandler.ts
Due: find-unused-messages, lint

adapt to new team mode pref api
  messages/ar.json
  messages/az.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/eu.json
  messages/fr.json
  messages/id.json
  messages/it.json
  messages/nl.json
  messages/pl.json
  messages/zh-cn.json
  src/lib/ui/Chip.svelte
  src/routes/[[lang]]/play/ChooseTeammates.svelte
  src/routes/[[lang]]/play/Play.svelte
  src/routes/[[lang]]/play/index.ts
  src/routes/[[lang]]/play/messageHandler.ts
  src/routes/[[lang]]/publish/Grade.svelte
  src/routes/[[lang]]/publish/Subject.svelte
Due: check-messages, find-unused-messages, find-untranslated, lint

Path conditions:
  check-messages: any of: messages/*.json
  find-unused-messages: any of: messages/*.json, src/**/*.{svelte,ts,js}, scripts/find-unused-messages.js
  find-untranslated: any of: messages/en.json, src/**/*.svelte, scripts/find-untranslated.js
  lint: any of: src/**/*.{svelte,ts,js}, bun.lock
